<form class="todo_form" action="/api/v1/task/?format=json" method="post" enctype="application/json">
	{% csrf_token %}
	<input type="text" name="task" id="id_task" placeholder="I need to ...">
	<input type="date" name="when" id="id_when" placeholder="When">
	<button type="submit">Add</button>
</form>
<ol class="todo_list">
	{% for todo in todo_list %}
		<li>{{ todo.date|date:"d-m-Y" }} {{ todo.text }}</li>
	{% endfor %}
	<span hidden="hidden">{{ todo_list.count }}</span>
</ol>