<div class="grid-stack-item"
	data-gs-x="0" data-gs-y="0"
	data-gs-width="2" data-gs-height="3">
	<div class="grid-stack-item-content">
		<h3 class="city_name">{{ city.city }}</h3>
		<ul>
			<li class="icon"> <img src="{{ img_weather_url }}{{ weather.weather.0.icon }}.png"> </li>
			<li class="description">{{ weather.weather.0.description }}</li>
			<li class="temp">Temp : {{ weather.main.temp }}</li>
			<li class="sunrise"> Sunrise : {{ weather.sys.sunrise }} </li>
			<li class="sunset"> Sunset : {{ weather.sys.sunset }}</li>
			<li class="wind"> Wind : {{ weather.speed }} meter/sec</li>
		</ul>
	</div>
</div>