.grid-stack-item {
	border: 1px solid grey;
	border-radius: 5px;
}

.grid-stack-item * {
	margin: 2px;
}

.todo_form input {
	width: 35%;
}

.todo_form button {
	width: 15%;
}

.v-menu {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	color : grey;
}

.hide-menu {
	margin-top: 20px; 
}

.hide-menu a {
	color: #99d5c9;
}

.hide-menu a:hover {
	color: #392b58;
}

.w-table, .c-table {
	width: 40%;
}

.w-table th, .c-table th {
	background: #D5E0E3;
	border: none;
}

.w-table td, .c-table td {
	border: none;
}

.w-table tr:nth-child(even), .c-table tr:nth-child(even) {
	background: #E6ECED;
}

.centered {
	text-align: center;
}

.connect-link {
	color : #6EB054;
}