{% extends "base.html" %}
{% load help_tags %}
{% block content %}
<form action="" method="post">
	<h3> Connections </h3>
	<table class="c-table centered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Working</th>
			</tr>
		</thead>
			<tbody>
				{% for connection, checked in connections.iteritems %}
					<tr>
						<td>{{ connection|cool_name }}</td>
						<td>
							{% if checked %}
								<input type="checkbox" readonly="readonly" checked="checked" name="connection">
							{% else %}
								<a href="{% url "home:add_connection" connection %}" class="connect-link">
									Connect
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
	</table>
</form>
{% endblock content %}