{% extends "base.html" %}

{% block content %}
<div class="grid-stack">
	{% for p, w in widgets.iteritems %}
		{% if w.html %}
		<div class="grid-stack-item"
			data-gs-x="{{ p.x }}" data-gs-y="{{ p.y }}"
			data-gs-width="{{ p.width }}" data-gs-height="{{ p.height }}">
				<div class="grid-stack-item-content">
					{{ w.html }}
				</div>
		</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock content %}