{% extends "base.html" %}
{% load help_tags %}
{% block content %}
<h3> Widgets </h3>
<form action="" method="post">
	<table class="w-table centered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Checked</th>
			</tr>
		</thead>
			<tbody>
				{% for widget, checked in widgets.iteritems %}
					<tr>
						<td>{{ widget|cool_name }}</td>
						<td>
							<input type="checkbox" name="{{ widget }}" {% if checked %} checked="{{ checked }}" {% endif %} id="{{ widget }}">
						</td>
					</tr>
				{% endfor %}
			</tbody>
	</table>
	<button type="submit">Save</button>
</form>
{% endblock content %}