{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.5/gridstack.min.css" />
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "css/simple-grid.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "libs/jquery-ui/jquery-ui.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/fun.css" %}">
</head>
<body>
	<div class="row">
		<div class="col-3">
			<ul class="v-menu">
				<li><h3><a href="{% url "home:home" %}">{{ request.user.username }}</a></h3></li>
				<li><a href="{% url "home:widgets" %}">Widgets</a></li>
				<li><a href="{% url "home:connections" %}">Connections</a></li>
				<li class="hide-menu"><a href="">hide menu</a></li>
			</ul>
		</div>
		<div class="col-9">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="{% static "libs/jquery-ui/jquery-ui.js" %}"></script>
	<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
	<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.5/gridstack.min.js'></script>
	<script type="text/javascript" src="{% static "js/soundcloud.js" %}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
	<script type="text/javascript" src="{% static "libs/ckeditor/ckeditor.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fun.js" %}"></script>
</body>
</html>